*{
    margin: 0;
    padding: 0px;
}
body{
    scroll-behavior: smooth;
    background-color: #FFFFFF;
}
section{
  margin: 20px 0px;
}
.container{
    max-width: 1145px;
    width: 100%;
    margin: auto;
}
.main-div ul {
    margin-right: 15px;
}
.main-div ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    float: right;
}
#first-section{
    margin-top: 80px;
}
.two-box{
    display: flex;
    justify-content: start;
}
.box-one{
    max-width: 50%;
    width: 100%;
    padding: 10px;
}
.box-one h1{
 color: #363958;
   margin-bottom: 4px;
 
}
.box-one h2{
     
    color: #FF8C72;
   }
   .box-one p{
    margin: 15px 0px;
    width: 60%;
   }
button{
    background-image: linear-gradient(180deg,#FA7161,#F96D61);
    border: none;
    color: white;
    padding: 10px;
    max-width: 100px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.box-two{
    max-width: 50%;
    width: 100%;
    padding: 10px;
}
.box-two img{
    width: 70%;
    margin-top:-90px;
    padding-left: 20px;
}
.hi{
 
    margin-left: 100px;
    margin-top: 10px;
 
}
.hi h1{
    margin-bottom: 30px;
}
.hi button{
    background-image: linear-gradient(180deg,#FA7161,#F96D61);
    border: none;
    color: white;
    padding: 10px;
    max-width: 150px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}
.hi p{
    margin: 15px 0px;
    width: 85%;
}
#second-section{
    background-color:#F8F9FC;
    margin: 80px 0px;
    height: 55vh;
}
#second-section h1{
    color: #363958;
    text-align: center;
    padding: 20px 0px;
}
#second-section span{
    color: #F46060;
}
#third-section{
    margin-bottom: 50px;
}
.all-card{
    display: flex;
    justify-content: start;
    max-width: 100%;
    width: 100%;
    padding: 20px 0px;
}
.card1{
    max-width: 28%;
    max-width: 100%;
    background-color: #FFFFFF;
    margin: 15px 15px;
    border-radius: 10px;
    padding: 20px 15px;
    box-shadow: -1px 2px 6px 0px #7d7b7b;
}
.card1 img{
    width: 100%;
    
}
.card1 .h1-p h3{
       padding: 15px 0px;
       color: #363958;
}
.card1 .h1-p p{
     
    color: #363958;
}
.main-div4{
    width: 80%;
    background-image: url("img/Group_33094_1.png");
    background-size: cover;
    height: 15vh;
   border-top-right-radius: 18px;
   border-top-left-radius: 18px;
   border-bottom-right-radius: 18px;
   border-bottom-left-radius: 18px;
   margin: auto;
}
.imgg{
    padding: 50px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    
}
.imgg h1{
    color: white;
}
.footer{
    width: 100%;
 
    text-align: center;
}
.footer a{
 text-decoration: none;
 color: #363958;
 font-size: 30px;
 font-weight: bold;
}
.footer ul li{
  display: inline-block;
  padding: 10px;
}
.footer ul li:first-child{
  color: #F03C7A;
  }
  .footer ul li:nth-child(2){
    color: #F4427E;
    }
    .footer ul li:nth-child(3){
        color: #CD245D;
        }